<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head th:replace="layout :: site-head">
  <title>Technical Bolg Application</title>
</head>

<header th:replace="layout :: logged-out"></header>

<h2>Please Register:</h2>
<form method="post" th:object="${User}">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"/>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"/>
  <label for="fullname">Full Name:</label>
  <input type="text" id="fullname" />
  <input type="submit" value="Register"/>
</form>

</html>